<!DOCTYPE HTML>
<html>
{% load static %}

<head>
    <title>Bank Vault</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="{% static 'bankmanagement/css/style1.css' %}" title="style" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="{% url 'chome' %}">Bank<span class="logo_colour">Vault</span></a></h1>
                    <h2>Apna hi Smjho</h2>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">

                    <li><a href="{% url 'chome' %}">Home</a></li>
                    <li class="selected"><a href="{% url 'changepass' %}">Change Password</a></li>
                    <li><a href="{% url 'transfermoney' %}">Transfer Money</a></li>
                    <li><a href="{% url 'transactions' %}">Transactions</a></li>
                    <li><a href="{% url 'accountinfo' %}">Account Info</a></li>
                    <li><a href="{% url 'index' %}">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="site_content">
            <div id="content">
                <form method="POST" action="{% url 'changepass' %}?username={{ username }}">
                    {% csrf_token %}
                    <div class="form-field">
                        <table>
                            <tr>
                                <td><label for="oldpass" class="label--required">Old Password</label></td>
                                <td><label id='oldpass'> {{ form.oldpassword }}</label> </td>
                            </tr>
                            <tr>
                                <td><label for="newpass" class="label--required">New Password</label></td>
                                <td><label id='newpass'> {{ form.newpassword }}</label> </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="a-btn--filled">Change</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>