<!DOCTYPE HTML>
<html>
{% load static %}

<head>
    <title>textured_green - examples</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="{% static 'bankmanagement/css/style1.css' %}" title="style" />
    <link rel="stylesheet" type="text/css" href="{% static 'bankmanagement/css/des.css' %}" title="style" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="{% url 'behome' %}">Bank<span class="logo_colour">Vault</span></a></h1>
                    <h2>Apna hi Smjho</h2>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li><a href="{% url 'behome' %}">Home</a></li>
                    <li class="selected"><a href="{% url 'examples' %}">Add Customer</a></li>
                    <li><a href="{% url 'page' %}">Account</a></li>
                    <li><a href="{% url 'contact' %}">Transaction</a></li>
                    <li><a href="{% url 'index' %}">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="site_content">

            <div id="content">
                <form method="POST" action="{% url 'addcustomer' %}">
                    {% csrf_token %}
                    <div class="form-field">
                        <table>
                            <tr>
                                <td><label for="userfield" class="label--required">User Name</label></td>
                                <td><span id='userfield'>{{ form.username }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="namefield" class="label--required">Full Name</label></td>
                                <td><span id='namefield'>{{ form.fullname }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="passfield" class="label--required">Password</label>
                                </td>
                                <td><span id='passfield'>{{ form.password }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="gender" class="label--required">Gender</label>
                                </td>
                                <td><span id='gender'>{{ form.gender }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="dob" class="label--required">DOB</label>
                                </td>
                                <td><span id='dob'>{{ form.dob }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="mobile" class="label--required">Mobile</label>
                                </td>
                                <td><span id='mobile'>{{ form.mobile }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="email" class="label--required">Email</label></td>
                                <td><span id='email'>{{ form.email }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="address" class="label--required">Address</label></td>
                                <td><span id='address'>{{ form.address }}</span></td>
                            </tr>
                            <tr>
                                <td><label for="nationality" class="label--required">Nationality</label></td>
                                <td><span id='nationality'>{{ form.nationality }}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="a-btn--filled">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>